body{
    background: #d2dff8;
    display: grid;
    grid-auto-rows: minmax(3rem, auto);
    color: #09091d;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    font-size: 1.25rem;
    font-family: 'Oswald', sans-serif;
}

.holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin: 2rem;
    text-transform: uppercase;
}

.card {
    padding: 1rem;
    background-color: rgb(160, 198, 201);
    border: 1px solid rgb(114, 129, 133);
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 2rem;
}

label {
    padding-bottom: 0.25rem;
}

.input {
    font-size: 1.125rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

button {
    width: 80%;
    background-color: rgb(114, 129, 133);
    color: rgb(204, 252, 255);
    padding: 0.5rem;    
    border: 1px solid #09091d;
    border-radius: 0.25rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

button:hover {
    background-color: rgb(76, 84, 87);
}


/* Journal Entry */
.title{
    color: #19194b;
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 1rem;
}

#entryHolder{
    background-color: rgb(204, 252, 255);
    border-radius: 0.25rem;
    padding: 0.5rem;
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }